<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Inventi computer</title>
  </h:head>
  <h:body>
    <h:messages style="color:red;"/>
    <h:form>
      <!-- Pridejte formular pro heslo-->
      
      <h:commandButton value="Start windows" action="#{computer.startWindows()}" />
    </h:form>
  </h:body>
</html>

