<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
  <head>
    <title>Linux</title>
  </head>
  <body>
    <div>
      <h:graphicImage value="img/linux.png" />
    </div>
  </body>
</html>
